<app-sub-header [pageName]="pageName" [metadata]="metadata"></app-sub-header>

<div class="manageLocationWrap" id="actions-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 manageLocationShowList">
        Show
        <ss-multiselect-dropdown [options]="sitesFilterOptions" [(ngModel)]="sitesFilter" [settings]="mySettings"
          name="sitesFilter" [texts]="myTexts" (ngModelChange)="onSitesDropdownChange($event)"></ss-multiselect-dropdown>
      </div>
    </div>
  </div>
</div>

<div class="main-table">
  <div *ngIf="showGrid">
    <ag-grid-angular #agGrid id="ag-grid" style="width: 100%;" appTableHeight class="ag-fresh table-height qualificationTable siteLocationsTable"
      [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="rowData" [showToolPanel]="showToolPanel" enableColResize
      enableSorting enableFilter groupHeaders suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues debug="false"
      rowHeight="26" rowSelection="multiple" (modelUpdated)="onModelUpdated()" (cellClicked)="onCellClicked($event)" (cellDoubleClicked)="onCellDoubleClicked($event)"
      (cellContextMenu)="onCellContextMenu($event)" (cellValueChanged)="onCellValueChanged($event)" (cellFocused)="onCellFocused($event)"
      (rowSelected)="onRowSelected($event)" (selectionChanged)="onSelectionChanged()" (beforeFilterChanged)="onBeforeFilterChanged()"
      (afterFilterChanged)="onAfterFilterChanged()" (filterModified)="onFilterModified()" (beforeSortChanged)="onBeforeSortChanged()"
      (afterSortChanged)="onAfterSortChanged()" (virtualRowRemoved)="onVirtualRowRemoved($event)" (rowClicked)="onRowClicked($event)"
      (gridReady)="onReady($event)" (columnEverythingChanged)="onColumnEvent($event)" (columnRowGroupChanged)="onColumnEvent($event)"
      (columnValueChanged)="onColumnEvent($event)" (columnMoved)="onColumnEvent($event)" (columnVisible)="onColumnEvent($event)"
      (columnGroupOpened)="onColumnEvent($event)" (columnResized)="onColumnEvent($event)" (columnPinnedCountChanged)="onColumnEvent($event)" (cellMouseOver)="utilitiesService.onCellMouseOver($event)" (cellMouseOut)="utilitiesService.onCellMouseOut($event)" [overlayNoRowsTemplate]="agGridService.overlayNoRowsTemplate" [defaultColDef]="agGridService.defaultColDef">
    </ag-grid-angular>
  </div>
</div>
