<div class="modal-header">
    <h1>All Technologies and Product Family List
        <a href="javascript:void(0)" class="modal-close" (click)="activeModal.dismiss('Cross click')"><span class="ico-close_bg"><span class="path1 hvr-icon-pop"></span><span class="path2"></span></span></a>
    </h1>
</div>

<div class="modal-body all-tech text-center">
    <ul class="select-option">
        <li><a href="javascript:void(0)" (click)="selectAll()">{{select?'Deselect All':'Select All'}}</a></li>
        <li><a href="javascript:void(0)" (click)="expandAll()">{{expand?'Collapse All':'Expand All'}}</a></li>
    </ul>
    <ul class="product-list">
        <li *ngFor="let key of objectKeys(technologies); let i = index;" [ngClass]="{'inner-list': technologies[key].options.length >= 1 && technologies[key].showTechnologyOptions === true}">
            <input type="checkbox" id="cb_{{i}}" name="product-check" [(ngModel)]="technologies[key].selected" (change)="pushOrPopElement(technologies[key], key, true)">
            <label for="cb_{{i}}"><span></span></label>
            <span [ngClass]='{"ico-collapse":technologies[key].showTechnologyOptions,"ico-expand":!technologies[key].showTechnologyOptions}'
                (click)="setExpandBool(technologies[key])"></span>
            <span class="product-list-txt">{{key}}</span>
            <ul class="inner-product-list">
                <li *ngFor="let option of technologies[key].options; let i = index;">
                    <input type="checkbox" id="cb_{{i}}_{{i2}}" (change)="pushOrPopElement(option, key, false)" name="product-check" [(ngModel)]="option.selected">
                    <label for="cb_{{i}}_{{i2}}"><span></span></label><span class="product-list-txt">{{option.key}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="clearfix text-right modal-footer">
    <a href="javascript:void(0);" class="button stroke-btn blue marginR10 marginB10 pipeline-btn" (click)="activeModal.dismiss('Cross click')">Cancel</a>
    <a href="javascript:void(0);" (click)="saveTechnologies()" class="button filled-btn blue marginB10 pipeline-btn">Save</a>
</div>