<!--Start Common Modal Window-->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Rename Qualification</h5>
  <button type="button" class="icon-close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')">

  </button>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <input class="form-control" name="renameQual" [(ngModel)]="renameQual" type="text" class="form-control" required="" appElementFocus id="renameQual" />
          <label for="renameQual" class="form-control-placeholder">Qualification Name</label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="renameQualification()">Rename</button>
</div>
<!--End Common Modal Window-->