<div class="modal-header lookup-header">
  <h4 class="modal-title"></h4>
  <button type="button" class="icon-close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body lookup-body">
  <div class="container">
    <div class="row">
      <div class="col-md-12 undoQual">
        <div class="iconBeforeDropWrap text-center">
          <span class="icon-undo-change"></span>
        </div>
        <div class="text-center rollBackWarning">
          <p>You cannot do the roll backs for more than 10K rows at a time.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer rollBack-footer">
  <div class="btns">
    <button type="button" class="btn upload download-btn" (click)="activeModal.dismiss('Ok click')">Ok</button>
  </div>
  <div class="clearfix"></div>
</div>