.btn.request-access-tip {width: 18px;height: 18px;padding: 0;border-radius: 20px;font-size: 11px;line-height: normal;font-weight: 700;background-color: #fff;border: 2px solid #58585b;color: #58585b;margin-left: 3px;position: relative;top: 0;}


