<!--Start Common Modal Window-->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Request Access
    <button type="button" class="btn request-access-tip" placement="right" ngbPopover="Manage Locations enables you to see an accurate view of the customer’s installed base by correcting the Customer Definition in Customer Registry. I.e. Adding a valid Party ID to Global Ultimate (GU) Name, Moving a Party ID to another GU Name and Deleting a Party ID from a GU Name. If the request is not valid and approved by the Customer Registry Governance team it will be moved back to the original GU."
      popoverTitle="" triggers="mouseenter:mouseleave">i</button>
  </h5>
  <button type="button" class="icon-close-btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group txt-area-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="justificationText" [(ngModel)]="justificationText"
            required="" appElementFocus></textarea>
          <label for="exampleFormControlTextarea1" class="form-control-placeholder">Write Justification
            <span class="import">*</span>
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer marginT15">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary" [class.disabled]="!isRequestFormValid()" data-dismiss="modal" (click)="closeRequestAccess()">Send</button>
</div>
<!--End Common Modal Window-->